#main-container
{
	background-color: #EEEEEE;
	height:100vh;
	width:100%;
}
#projects h1, #projects h2, #projects h3
{
	text-align: center;
	color: white;
}
#projects a
{
	color:#CCCCCC;
	text-shadow: 2px 2px #333333;
	text-decoration: none;
	transition:color 0.15s;
}
#projects a:hover
{
	color:#EEEEEE;
}
.vcenter 
{
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.sub-section
{
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 15px;
}
.project
{
	text-align: center;
	height:200px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333333;
	border: 1px solid #BBBBBB;
	border-radius: 15px;
	background-size: cover; 
	background-position: center;
}
#projects h3
{
	margin-bottom: 25px;
}
.row
{
	padding-left: 15px;
	padding-right: 15px;
}
#main
{
	text-align: center;
}