html, body
{
	min-height: 100vh;
	height:100%;
}
#main-container
{
	background-color: #EEEEEE;
	min-height: 100vh;
	height:100%;
	width:100%;
	overflow:auto;
}
#projects
{
	max-width: 800px;
}
#projects h1, #projects h2, #projects h3
{
	text-align: center;
	color: white;
}
#projects a
{
	color:#CCCCCC;
	text-shadow: 2px 2px #333333;
	text-decoration: none;
	transition:color 0.15s;
}
#projects a:hover
{
	color:#EEEEEE;
}
.vcenter 
{
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.sub-section
{
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 15px;
	margin-bottom: 25px;
}
.project_container
{

}
.project
{
	text-align: center;
	height:200px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333333;
	border: 1px solid #BBBBBB;
	border-radius: 15px;
	background-size: 100% 100%; 
	background-position: center;
	width:100%;
	padding: 0 15px 0 15px;
	transition: background-size 0.25s ease-out;
}
.project:hover
{
	background-size: 125% 125%;
}
#projects h3
{
	margin-bottom: 25px;
}
.row
{
	padding-left: 15px;
	padding-right: 15px;
}
#main
{
	text-align: center;
}