body
{
	background-color: #EEEEEE;
}
/*Misc.*/
#spark-logo-small
{
	width:80px;
}
/*End Misc.*/
/*Menu Stuff*/
#menu
{
	background-color: #7c2629;
	box-shadow: 1px 1px 7px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#menu .navbar-collapse .navbar-nav a
{
	text-decoration: none;
}
#menu .navbar-collapse .navbar-nav .nav-link
{
	margin-top:5px;
	margin-right:15px;
	margin-left:15px;
	color:white;
	font-size: 15px;
    font-family: 'Montserrat', sans-serif;
	border-bottom:5px solid transparent;
	font-weight: bold;
}
#menu .navbar-collapse .navbar-nav .nav-link:hover
{
	border-color:#e8bd74;
	/*#ffc55f*/
}
#menu .navbar-collapse .navbar-nav .nav-link.active
{
	border-color:#ffc55f;
	/*#ffc55f*/
}
/*End Menu Stuff*/
#content
{
	padding-top: 100px;
}
.content-section h1,h2,h3,h4
{
	text-align: center;
}