/*Variables here*/
:root
{
	--header_bg_color: rgba(163, 187, 224, 1);
	--header_box_shadow: 0px 0px 5px black;
	--header_height: 125px;
	--mobile_menu_bg_color: rgba(113, 130, 155, 1);
	--mobile_menu_bg_color_hovered: rgba(118, 135, 160, 1);
	--mobile_menu_bg_color_triggered: rgba(108, 125, 150, 1);
	--mobile_menu_bar_color:rgba(49, 57, 68, 1);
}
body
{
	font-family: Courier;
	margin-bottom: 80px;
}
html
{
	position:relative;
	min-height: 100%;
}
.nav-bar-container
{
	background-color: white;
}
.navbar-toggler
{
	margin-right: 5px;
}
.nav-bar-head
{
	font-size: 25px;
	height:80px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
.nav-bar-head h2
{
	text-align: center;
	position:relative;
	top:40px;
	color:black;
}
.nav-bar-head a
{
	color:black;
}
.navbar-brand
{
	font-size: 25px;
}
.nav-link
{
	height:45px;
	min-width: 60px;
	transition:border-bottom 0.15s, background-color 0.15s;
}
footer
{
	position:absolute;
	bottom:0;
	width:100%;
	height:80px;
	display:flex;
	align-items: center;
	justify-content: center;
}
.shadow
{
	box-shadow: 0px 0px 2px black;
}
.mark-as-red
{
	color:red;
}
#ul-about-me
{
	list-style-type:none;
	padding-left: 0;
}
#ul-about-me li
{
	text-align: center;
}
/*Tablets and Desktops*/
@media only screen and (min-width: 576px)
{
	.nav-link:hover
	{
		border-bottom: 2px solid #222222;
	}
	.navbar-brand
	{
		display:none;
	}
	.navbar-nav
	{
		margin-left: auto;
		margin-right: auto;
	}
	.content
	{
		margin-top: 150px;
	}
}
/*Phones*/
@media only screen and (max-width: 575px)
{
	.navbar
	{
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 5px;
	}
	.navbar-brand
	{
		float:none;
		padding-left: 15px;
	}
	.nav-bar-head
	{
		display:none;
	}
	.nav-link
	{
		text-align: center;
		background-color: #EEEEEE;
	}
	.nav-link.active
	{
		background-color: #DFDFDF;
	}
	.nav-link:active
	{
		background-color:#CCCCCC;
	}
	.content
	{
		margin-top: 80px;
	}
}
/*Phones portrait*/
@media only screen and (max-width: 767px) and (orientation:portrait)
{

}