h1,h2,h3,h4,h5,h6,p
{
	color:white;
	text-shadow: 1px 1px 3px black;
	font-family: 'Arvo', serif;
	margin-left:15px;margin-right:15px;
}
.container
{
	outline:none;
}

.section
{
	min-height: 100vh;
	background-color: black;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	overflow:hidden;
	position:relative;
}
.section-icon
{
	display:inline-block;
	position:absolute;
	width:100px;
	height:100px;
	top:calc(50% - 50px);
	right:calc(50% - 50px);
	background-color:#222222;
	border-radius: 100px;
	transition: transform 1s, box-shadow 1.25s;
	transition-timing-function: ease-in-out;
	z-index: 10;
	box-shadow: 0px 0px 0px 0px black;
}
.section-icon.triggered
{
	box-shadow: 0px 0px 25px 1px black;
}
.section-icon-img
{
	position:relative;
	transform:scale(0.36);
	transform-origin: 0% 0%;
	right:6px;
	bottom:6px;
}

.bg-img
{
	position:absolute;
	left:0px;
	bottom:0px;
	display:inline-block;
	z-index: 1;
	transition: bottom 1s;
	background-position: bottom;
	background-size: 480px 248px;
	background-repeat: repeat-x;
	height:496px;
	width:100%;
}
@keyframes scroll
{
	100%{
		background-position-x:-480px;
	}
}
@keyframes scroll2
{
	100%{
		background-position-x:-530px;
	}
}
@keyframes scroll3
{
	100%{
		background-position-x:-580px;
	}
}
@keyframes bounce_up_and_down
{
	0%
	{
		transform:translateY(0px);
	}
	50%
	{
		transform:translateY(10px);
	}
}

.arrow-container
{
	display:inline-block;
	position:absolute;
	bottom:5px;
	right:calc(50% - 30px);
	background-color: rgba(50,50,50,1);
	border-color: black;
	border-width: 20px;
	border-radius: 30px;
	width:60px;
	height:60px;
	box-shadow: 0px 0px 15px 1px black;
	z-index:100;
	transition:transform 0.15s, box-shadow 0.15s;
}

/*.arrow-container:hover
{
	box-shadow: 0px 0px 25px 1px black;
	transform:scale(1.05);
}*/

.arrow-container:active
{
	box-shadow: 0px 0px 10px 1px black;
	transform:scale(0.85);
}

.arrow-down 
{
	display:inline-block;
	position:absolute;
	top:calc(50% - 15px);
	right:calc(50% - 18px);
	width: 0; 
	height: 0; 
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-top: 35px solid rgba(125,125,125,0.5);
	transition: border-top-color 0.15s;
	transition-timing-function: ease-in-out;
	z-index: 10;
	border-radius:5px;
}

.arrow-container:hover .arrow-down
{
	border-top-color: rgba(255,255,255,1);
}

.arrow-container:active .arrow-down
{
	border-top-color: rgba(80,80,80,1);
}

.arrow-up 
{
	display:inline-block;
	position:absolute;
	top:calc(50% - 20px);
	right:calc(50% - 18px);
	width: 0; 
	height: 0; 
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	
	border-bottom: 35px solid rgba(125,125,125,0.5);
	transition: border-top-color 0.15s;
	transition-timing-function: ease-in-out;
	z-index: 10;
	border-radius:5px;
}

.arrow-container:hover .arrow-up
{
	border-bottom-color: rgba(255,255,255,1);
}

.arrow-container:active .arrow-up
{
	border-top-color: rgba(80,80,80,1);
}

.vertical-center 
{
	display: flex;
	align-items: center;
}
.section h1, .page-content h5
{
	text-align: center;
	color:#FFFFFF;
	z-index:0;
}
.shadow_container
{
	box-shadow: 0px 0px 35px 8px black;
	z-index: 1;
	position: absolute;
	height:100vh;
	width:0;
	left:50%;
}
.sub-section
{
	position:relative;
	min-height:100vh;
	overflow:hidden;
	transition: opacity 3s;
	background-color: #333333;
	z-index: 0;
	width:50%;
}
.sub-section.left
{
	padding-right: 7vw;
	padding-left: 2.5vw;
	/*box-shadow: 2px 0px 35px 15px #222222;*/
	z-index: 1;
	float:left;
}
.sub-section.right
{
	padding-right: 2.5vw;
	padding-left: 7vw;
	float:right;
	z-index: 10;
	/*box-shadow: -2px 0px 35px 15px #222222;*/
}
.sub-section-content
{
	line-height: 25px;
	position:relative;
	transition: left 1s;
	transition-timing-function: ease-in-out;
	overflow:auto;
	font-family: 'Arvo', serif;
}
.sub-section-content h1
{
	font-size:30px;
	line-height: 35px;
}
.sub-section-content.right
{
	margin-left: 40px;
}
.sub-section-content.left
{
	margin-right: 40px;
}

.page-content
{
	margin-left: auto;
	margin-right: auto;
	position:relative;
	transition: top 1s, opacity 1s;
	transition-timing-function: ease-out;
}

/*Effects*/

.fade-in
{
	opacity: 0;
}

.fade-in.triggered
{
	opacity: 1;
}

.scale-up
{
	transform: scale(0) rotate(180deg);
}

.scale-up.triggered
{
	transform: scale(1) rotate(360deg);
}

.scroll-to-view-bottom
{
	bottom:-40vh;
}

.scroll-to-view-top
{
	top:-40vh;
}

.scroll-to-view-bottom.triggered
{
	bottom:0;
}

.scroll-to-view-top.triggered
{
	top:0;
}

.scroll-to-view-right
{
	left:50vw;
}

.scroll-to-view-left
{
	left:-50vw;
}

.scroll-to-view-left.triggered
{
	left: 0;
}

.scroll-to-view-right.triggered
{
	left: 0;
}

/*End of Effects*/
@media only screen and (max-height: 640px) and (min-width: 600px)
{
	.sub-section-content p
	{
		line-height: 15px;
		font-size: 11px;
	}
	.sub-section-content h2
	{
		line-height: 18px;
		font-size: 15px;
	}
	.sub-section-content h1
	{
		font-size: 25px;
		line-height: 30px;
	}
	h1
	{
		font-size:20px;
	}
	.page-content h5
	{
		font-size:12px;
	}
	.section-icon
	{
		width:80px;
		height:80px;
		top:calc(50% - 40px);
		right:calc(50% - 40px);
	}
	.section-icon.triggered
	{
		box-shadow: 0px 0px 15px 1px black;
	}
	.section-icon-img
	{
		transform:scale(0.29);
		right:4px;
	}
	.arrow-container
	{
		transform:scale(0.8);
	}
	/*.arrow-container:hover
	{
		transform:scale(0.85);
	}*/
	.arrow-container:active
	{
		transform:scale(0.70);
	}
}

/*Mobile view*/
@media only screen and (max-width: 768px) and (min-height: 576px)
{

	.scroll-to-view-right
	{
		left:100vw;
	}

	.scroll-to-view-left
	{
		left:-100vw;
	}
	.sub-section.left, .sub-section.right
	{
		padding-left: 2.5vw;
		padding-right: 2.5vw;
	}
	.sub-section
	{
		min-height:45vh;
		width:100%;
	}
	.sub-section.left, .sub-section.right
	{
		height: 55vh;
	}
	.shadow_container
	{
		height:0;
		width: 100%;
		top:55vh;
		left:0;
	}
	.sub-section-content p
	{
		line-height: 20px;
		font-size: 15px;
	}
	.sub-section-content h2
	{
		line-height: 5vw;
		font-size: 25px;
	}
	.sub-section-content h1
	{
		font-size: 25px;
		line-height: 30px;
	}
	.sub-section-content.left,.sub-section-content.right
	{
		margin-left: 15px;
		margin-right: 15px;
	}
	.section-icon
	{
		width:80px;
		height:80px;
		top:calc(55% - 40px);
		right:calc(50% - 40px);
	}
	.section-icon.triggered
	{
		box-shadow: 0px 0px 15px 1px black;
	}
	.section-icon-img
	{
		transform:scale(0.29);
		right:4px;
	}
	.arrow-up,.arrow-down
	{
		margin-bottom:0;
	}
	.arrow-container
	{
		bottom:100;
		transform:scale(0.8);
	}
	/*.arrow-container:hover
	{
		transform:scale(0.85);
	}*/
	.arrow-container:active
	{
		transform:scale(0.70);
	}
}
@media only screen and (max-width: 640px) and (min-height: 576px)
{
	.sub-section-content p
	{
		line-height: 18px;
		font-size: 15px;
	}
}